@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #e9edf6;
}

.title-bar {
    -webkit-app-region: drag;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}