@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: rgb(125, 159, 159);
}

.title-bar {
    -webkit-app-region: drag;
    /* Isso permite que você arraste a janela pela barra de título */
    display: flex;
    position: absolute;
    width: 100%;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background-color: #333;
    color: #fff;
    padding: 0 10px;
}

.title {
    -webkit-app-region: no-drag;
    /* Impede que o texto seja arrastável */
}

.window-controls {
    -webkit-app-region: no-drag;
    /* Impede que os botões sejam arrastáveis */
}

.window-controls button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 0 5px;
}

.window-controls button:hover {
    background-color: #555;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

/* .line {
  background: black;
  height: 1px;
  width: 100%;
  transform: scaleY(0.5);
} */
